{% extends "pos/base_site.html" %}
{% load humanize %}

{% block content %}
<h1>Report</h1>

<div style="width: 100%;">

<div style="width: 50%; float: left">
<h2>Ammontare incassato complessivo</h2>
<h3>Totale: {{ every | intcomma }} €</h3>
Contanti: {{ every_cash | intcomma }} €<br />
Carta di credito: {{ every_card | intcomma }} €<br />
Bancomat: {{ every_bancomat | intcomma }} €<br />
Altro: {{ every_other | intcomma }} €
</div>

<div style="width: 50%; float: right">
<h2>Ammontare incassato nell'attuale giornata lavorativa</h2>
<h3>Totale: {{ today | intcomma }} €</h3>
Contanti: {{ cash | intcomma }} €<br />
Carta di credito: {{ card | intcomma }} €<br />
Bancomat: {{ bancomat | intcomma }} €<br />
Altro: {{ other | intcomma }} €
</div>

</div>

<!-- <h2>Soldi incassati nell'attuale giornata lavorativa</h2>
<ul>
{% for checkout, value in transactions.items %}
    <li>{{ checkout }}: {{ value }} €</li>
{% endfor %}
</ul>
-->

<div style="width: 100%;">

<div style="width: 50%; float: left">
<h2>Articoli venduti complessivamente</h2>
{% for group, products in grouped.items %}
<h3>{{ group }}</h3>
<ul>
{% for product in products %}
<li>"<b>{{ product }}</b>": {% if product.num_products %}{{ product.num_products | intcomma }}{% else %}0{% endif %} unità</li>
{% endfor %}
</ul>
{% endfor %}
</div>

<div style="width: 50%; float: right">

<h2>Articoli venduti nell'attuale giornata lavorativa</h2>
{% for group, detail in today_products.items %}
<h3>{{ group }}</h3>
<ul>
{% for product, quantity in detail.items %}
    <li>Venduti {{ quantity | intcomma }} "<b>{{ product }}</b>"</li>
{% endfor %}
</ul>
{% endfor %}

<h2>I 10 articoli più venduti di sempre</h2>
<ol>
{% for topseller in topsellers %}
    <li>"<b>{{ topseller }}</b>": {% if topseller.num_products %}{{ topseller.num_products | intcomma }}{% else %}0{% endif %} unità</li>
{% endfor %}
</ol>

</div>

</div>

{% endblock %}
